yaml-entry {
  position: absolute;
  top: 100px;
  right: 50%;
  left: 0;
  bottom: 0;
  border: 1px solid #eee;
  font-size: 12px;
  float: left;
  margin: 0;
  padding: 15px;
}

raw-stix {
  position: absolute;
  top: 100px;
  right: 0;
  left: 50%;
  bottom: 0;
  border: none;
  float: right;
  margin: 0;
  border: 1px solid #eee;
  padding: 15px;
}

body {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: 'Source Code Pro', monospace;
  font-size: 36px;
}

h1 span {
  font-size: 18px;
  margin-left: 20px;
  display: inline-block;
  color: #999;
}
