.text-panel {
  position: absolute;
  top: 100px;
  right: 50%;
  left: 0;
  bottom: 15px;
  margin: 0;
  padding: 15px;
}

.viz-panel {
  position: absolute;
  top: 100px;
  right: 0;
  left: 50%;
  bottom: 0;
}

yaml-entry {
  height: 50%;
  font-size: 12px;
  position: absolute;
  top: 0;
  bottom: 50%;
  left: 0;
  right: 0;
  border: 1px solid #eee;
  border-bottom: 0;
}

raw-stix {
  margin: 0;
  border: 1px solid #eee;
  border-bottom: 0;
  padding: 15px;
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
}

body {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: 'Source Code Pro', monospace;
  font-size: 36px;
  font-weight: lighter;
  float: left;
  margin: 0;
}

h1 span {
  font-size: 18px;
  margin-left: 20px;
  display: inline-block;
  color: #ccc;
  font-family: 'Source Sans Pro';
}

#help-overlay {
  padding: 0 50px;
  font-family: 'Source Sans Pro';
  color: #999;
  font-size: 16px;
  z-index: 100;
}

#help-overlay h2 {
  color: #aaa;
  font-size: 24px;
}

.section:first-child {
  float: right;
  width: 400px;
}

.section:last-child {
  float: left;
  width: 200px;
}

.section .example {
  white-space: pre-wrap;
  font-family: 'Source Code Pro';
}

#visualizer, #help-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.links a {
  display: block;
  float: right;
  clear: both;
}

.sharing-link {
  float: right;
  font-family: 'Source Sans Pro';
  font-size: 14px;
}

button {
  color: transparent;
  background-color: transparent;
  cursor: pointer;
  border: 0;
}

.sharing-link button {
  text-indent: -2000px;
  overflow: hidden;
  width: 48px;
  height: 48px;
  background-image: url(/icons/eye.png);
  display: inline-block;
  opacity: .6;
}

.sharing-link button:hover {
  opacity: 1;
}

.sharing-link input {
  margin-left: 25px;
  width: 400px;
  border: none;
  border-bottom: 1px solid #ccc;
  font-family: 'Source Sans Pro';
  font-size: 14px;
  padding: 2px;
}
